@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card {
  height: 450px;
  width: 300px;
  padding: 15px;
  border-radius: 6px;
  position: relative;
}

.suit_top {
  position: absolute;
  font-size: 50px;
  top: 15px;
  left: 15px;
}

.number {
  position: absolute;
  vertical-align: middle;
  top: 30%;
  left: 40%;
  font-size: 100px;
}

.suit_bottom {
  position: absolute;
  font-size: 50px;
  bottom: 15px;
  right: 15px;
}
